gurobipy==12.0.0
highspy==1.11.0
mip==1.16rc0
networkx==3.3
numpy==2.2.6
pandas==2.3.0
pulp==3.2.1
pyowl2==1.0.2
pyparsing==3.2.3
rdflib==7.1.4
setuptools==80.8.0
sortedcontainers==2.4.0
trycast==1.2.1
sphinx
sphinx-rtd-theme
myst_parser
sphinx-toolbox